body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.canvas-bg {
	width: 600px;
	height: 400px;
	background-color: #DDDDDD;
}
canvas {
	max-width: 100%;
}